@charset "UTF-8";
body {
  background-color: gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.header {
  padding: 10px;
}

.header__logo {
  padding-top: 10px;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__title h1 {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  padding: 10px 0;
  margin-bottom: 12px;
  background-color: #4c4c4c;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 20px;
}

.menu li {
  position: relative;
}

.menu li:focus-within > .submenu,
.menu li:hover > .submenu {
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  background-color: #4c4c4c;
  padding: 10px 60px;
  margin-bottom: 5px;
  white-space: wrap;
  border-radius: 10px;
  border: 2px solid yellow;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu a:hover {
  background-color: yellow;
  color: black;
}

.menu a:focus {
  outline: none;
  background-color: yellow;
  color: black;
}

.submenu {
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  text-align: center;
  min-width: 350px;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  z-index: 3;
}

.submenu__width {
  min-width: 300px;
}

.contact-container * {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.contact-container {
  position: fixed;
  right: 0;
  z-index: 99999999;
  bottom: 80px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.contact-container.visible {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.contact {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  border: 5px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Verdana, sans-serif;
  position: relative;
  height: 110px;
  width: 350px;
  max-width: calc(100% - 10px);
}

.contact span.close-btn {
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.contact span.close-btn svg {
  stroke: blue;
  width: 20px;
  height: 20px;
}

.contact span.close-btn:focus {
  outline: none;
}

.contact div {
  background-color: blue;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 18px;
  padding: 2px 0 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 280px;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact ul li {
  margin: 24px 6px 0 6px;
}

.contact ul li a {
  border: 4px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  font-size: 24px;
  color: blue;
  width: 48px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact ul li a:hover {
  border-color: blue;
  color: blue;
  -webkit-box-shadow: 0 9px 12px -3px blue;
          box-shadow: 0 9px 12px -3px blue;
}

.contact-btn {
  border-radius: 30px;
  background-color: blue;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 255, 0.2);
          box-shadow: 0 4px 12px rgba(0, 0, 255, 0.2);
  color: #fff;
  cursor: pointer;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999999;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact-btn:hover {
  background-color: #ffffff;
  color: blue;
  border: 2px solid blue;
  -webkit-box-shadow: 0 4px 12px blue;
          box-shadow: 0 4px 12px blue;
}

.contact-btn:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .contact-container.visible {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .contact-btn {
    right: 10px;
  }
}

.text3d-wrap-3 {
  margin: 0;
  padding: 0;
  position: relative;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0 10%;
}

.text3d-wrap-3 .text3d-3 {
  margin-top: -12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: perspective(300px) rotateX(15deg) scaleY(0.8);
          transform: perspective(300px) rotateX(15deg) scaleY(0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 90px;
  letter-spacing: 3px;
  color: #000;
  text-shadow: 0 0 20px rgba(0, 0, 255, 0.9), 0 10px 0 #ffff00;
}

.text3d-wrap-3:hover .text3d-3 {
  -webkit-transform: perspective(1000px) rotateX(15deg) scale(1.07);
          transform: perspective(1000px) rotateX(15deg) scale(1.07);
  text-shadow: 0 0 10px #ffff00, 0 2px 0 #ffff00;
}

@media (max-width: 767px) {
  .text3d-3 {
    font-size: 60px;
  }
}

@media (min-width: 990px) {
  .burger {
    display: none;
  }
}

@media (max-width: 990px) {
  .container {
    text-align: center;
  }
  .header__title {
    margin: auto;
  }
  .header__title h1 {
    width: 500px;
  }
  .text3d-wrap-3 {
    position: relative;
    width: 60%;
    height: 260px;
  }
  .text3d-wrap-3 .text3d-3 {
    -webkit-transform: perspective(100px) rotateX(1deg) scaleY(0.8);
            transform: perspective(100px) rotateX(1deg) scaleY(0.8);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 3px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 black;
  }
  .menu {
    display: none;
  }
  .burger {
    /* скрываем чекбокс */
    /* стилизуем кнопку */
    /* добавляем "гамбургер" */
    /* контейнер меню */
    /* элементы меню */
  }
  .burger #menu__toggle {
    opacity: 0;
  }
  .burger .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* используем flex для центрирования содержимого */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 26px;
    width: 86px;
    height: 86px;
    cursor: pointer;
    z-index: 2;
  }
  .burger .menu__btn > span,
  .burger .menu__btn > span::before,
  .burger .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: blue;
  }
  .burger .menu__btn > span::before {
    content: '';
    top: -12px;
  }
  .burger .menu__btn > span::after {
    content: '';
    top: 12px;
  }
  .burger .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #4c4c4c;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .burger .menu__item {
    display: block;
    padding: 30px 24px 5px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: white;
  }
  .burger .menu__item:hover {
    background-color: #CFD8DC;
  }
  .burger #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .burger #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .burger #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}

@media (max-width: 576px) {
  .container {
    text-align: center;
    font-size: 18px;
  }
  .header__title {
    margin: auto;
  }
  .header__title h1 {
    width: 400px;
  }
  .text3d-wrap-3 {
    position: relative;
    width: 60%;
    height: 260px;
  }
  .text3d-wrap-3 .text3d-3 {
    -webkit-transform: perspective(100px) rotateX(1deg) scaleY(0.8);
            transform: perspective(100px) rotateX(1deg) scaleY(0.8);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 3px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 black;
  }
  .menu {
    display: none;
  }
  .burger {
    /* скрываем чекбокс */
    /* стилизуем кнопку */
    /* добавляем "гамбургер" */
    /* контейнер меню */
    /* элементы меню */
  }
  .burger #menu__toggle {
    opacity: 0;
  }
  .burger .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* используем flex для центрирования содержимого */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 26px;
    width: 86px;
    height: 86px;
    cursor: pointer;
    z-index: 2;
  }
  .burger .menu__btn > span,
  .burger .menu__btn > span::before,
  .burger .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: blue;
  }
  .burger .menu__btn > span::before {
    content: '';
    top: -12px;
  }
  .burger .menu__btn > span::after {
    content: '';
    top: 12px;
  }
  .burger .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #4c4c4c;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .burger .menu__item {
    display: block;
    padding: 30px 24px 5px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: white;
  }
  .burger .menu__item:hover {
    background-color: #CFD8DC;
  }
  .burger #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .burger #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .burger #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}

.zvernenia {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

.zvernenia__photo {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.zvernenia__photo img {
  width: 100%;
  height: 400px;
}

.zvernenia__text {
  text-align: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

@media (max-width: 990px) {
  .zvernenia {
    margin-top: -60px;
    display: block;
  }
  .zvernenia img {
    margin-bottom: 40px;
  }
}

.newsenergetyki {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsenergetyki__first {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding: 20px;
}

.newsenergetyki__first h3 {
  padding-bottom: 20px;
  text-align: center;
}

.newsenergetyki__first img {
  width: 100%;
  max-width: 2000px;
  min-width: 300px;
  padding-bottom: 20px;
}

.newsenergetyki__second {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 20px 30px;
}

@media (max-width: 990px) {
  .newsenergetyki {
    display: block;
    margin-top: -80px;
    margin-bottom: 40px;
  }
  iframe {
    height: 300px;
  }
}

.abiturient {
  display: block;
  text-align: center;
  font-size: 24px;
  margin: 20px 0 50px;
}

.abiturient a {
  font-weight: bold;
}

.abiturient a:hover {
  color: blue;
  font-weight: bold;
}

.abiturient__opyt {
  color: red;
}

.abiturient__red-text {
  color: red;
  font-weight: bold;
}

.abiturient__akadem h3 {
  margin-bottom: 30px;
}

.abiturient__akadem h5 {
  margin: 30px 0;
}

.abiturient__akadem h6 {
  text-align: left;
  padding-bottom: 10px;
}

.abiturient__akadem a {
  margin-bottom: 10px;
  font-size: 16px;
  display: block;
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
  color: blue;
}

.abiturient__akadem ol {
  font-size: 16px;
}

.abiturient__akadem ol li {
  text-align: left;
  margin-bottom: 10px;
}

.abiturient__akadem p {
  text-align: left;
  font-weight: bold;
}

.zviazok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 50px;
  text-align: center;
}

.zviazok__uipa {
  width: 400px;
}

.zviazok__uipa h5 {
  margin-bottom: 30px;
}

.zviazok__fakultet {
  width: 400px;
}

.zviazok__do {
  width: 400px;
}

.zviazok__do h5 {
  margin-bottom: 50px;
}

.zviazok img {
  width: 250px;
  height: 250px;
}

.zviazok a {
  color: blue;
}

.kontakti {
  margin-bottom: 50px;
}

.kontakti h3 {
  text-align: center;
}

.kontakti iframe {
  width: 100%;
}

.students-live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px 0 30px;
}

.students-live img {
  min-width: 200px;
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}

.konsultanti__vse {
  margin: 20px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.konsultanti__vse img {
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 400px;
  margin-bottom: 20px;
}

.konsultanti__vse h5 {
  margin-bottom: 20px;
}

.konsultanti__text {
  margin: 50px 30px 50px;
}

.konsultanti__text h3 {
  text-align: center;
  margin-bottom: 20px;
}

.konsultanti__text h2 {
  text-align: center;
  margin-bottom: 20px;
  color: red;
}

.den-dverey {
  text-align: center;
  margin-bottom: 50px;
}

.den-dverey h2 {
  color: red;
  margin: 30px 0;
}

.den-dverey a {
  color: blue;
}

.den-dverey img {
  margin-top: 30px;
  width: 100%;
  min-width: 300px;
  min-height: 150px;
}

.den-dverey__photos {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.den-dverey__photos h5 {
  width: 400px;
  font-size: 18x;
}

.den-dverey__photos img {
  width: 400px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.den-dverey iframe {
  width: 100%;
  max-width: 560px;
  min-width: 300px;
  margin-bottom: 30px;
}

.den-dverey .znaiomstvo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.den-dverey .znaiomstvo h6 {
  width: 200px;
  margin: auto;
}

.den-dverey .znaiomstvo iframe {
  margin: 20px 0;
  width: 200px;
  height: 150px;
}

.kafedra {
  margin: 30px 0 50px;
}

.kafedra__kto-rabotaet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kafedra__kartinka {
  margin-bottom: 30px;
}

.kafedra__kartinka img {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
}

.kafedra__text {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
}

.kafedra__text h5 {
  text-align: center;
}

.kafedra__text h6 {
  text-align: center;
  margin: 20px 0;
}

.kafedra__text a {
  color: blue;
}

.kafedra h3 {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 990px) {
  .abiturient {
    font-size: 18px;
  }
  .abiturient iframe {
    margin: auto;
    max-width: 700px;
    width: 100%;
    min-width: 300px;
  }
  .zviazok__uipa {
    margin: auto;
    padding-bottom: 50px;
  }
  .zviazok__fakultet {
    margin: auto;
    padding-bottom: 50px;
  }
  .zviazok__do {
    margin: auto;
    padding-bottom: 50px;
  }
  .den-dverey .znaiomstvo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
