body {
  background-color: gray;
}

.container {
  background-color: #fff;
}

.header {
  padding: 10px;
}

.header__logo {
  padding-top: 10px;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__title h1 {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.nav-items {
  background-color: #4c4c4c;
}

.nav-items__link {
  text-align: center;
  color: #fff;
}

.nav-item {
  text-decoration: none;
}

.nav-item a {
  color: #fff;
}

.nav-item:hover {
  background-color: yellow;
  color: black;
}

.nav-item:hover a {
  color: black;
  font-weight: bolder;
}

.nav-link:hover {
  background-color: yellow;
  color: black;
  font-weight: bolder;
}

.nav-link:hover a {
  color: black;
}
