body {
  background-color: gray;
}

.container {
  background-color: #fff;
}

.header {
  padding: 10px;
}

.header__logo {
  padding-top: 10px;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__title h1 {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.nav-items {
  background-color: #4c4c4c;
  padding: 10px;
  margin-bottom: 12px;
}

.nav-items__link {
  text-align: center;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav-link:hover {
  color: #000;
  font-weight: bold;
  background-color: yellow;
  border-radius: 10px;
}

.carousel {
  position: relative;
}

.carousel__header {
  position: absolute;
  top: 35%;
  left: 28%;
  color: #fff;
  background-color: blue;
  opacity: 0.6;
  text-align: center;
  padding: 20px;
  width: auto;
  z-index: 2;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.carousel__header:hover {
  opacity: 1;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.blocks img {
  width: 550px;
  height: 350px;
}

.blocks__first {
  color: red;
}

.blocks__second {
  color: blue;
}

.contact-container * {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.contact-container {
  position: fixed;
  right: 0;
  z-index: 99999999;
  bottom: 80px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.contact-container.visible {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.contact {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  border: 5px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Verdana, sans-serif;
  position: relative;
  height: 110px;
  width: 350px;
  max-width: calc(100% - 10px);
}

.contact span.close-btn {
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.contact span.close-btn svg {
  stroke: blue;
  width: 20px;
  height: 20px;
}

.contact span.close-btn:focus {
  outline: none;
}

.contact div {
  background-color: blue;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 18px;
  padding: 2px 0 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 280px;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact ul li {
  margin: 24px 6px 0 6px;
}

.contact ul li a {
  border: 4px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  font-size: 24px;
  color: blue;
  width: 48px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact ul li a:hover {
  border-color: blue;
  color: blue;
  -webkit-box-shadow: 0 9px 12px -3px blue;
          box-shadow: 0 9px 12px -3px blue;
}

.contact-btn {
  border-radius: 30px;
  background-color: blue;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 255, 0.2);
          box-shadow: 0 4px 12px rgba(0, 0, 255, 0.2);
  color: #fff;
  cursor: pointer;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999999;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact-btn:hover {
  background-color: #ffffff;
  color: blue;
  border: 2px solid blue;
  -webkit-box-shadow: 0 4px 12px blue;
          box-shadow: 0 4px 12px blue;
}

.contact-btn:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .contact-container.visible {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .contact-btn {
    right: 10px;
  }
}

.text3d-wrap-3 {
  margin: 0;
  padding: 0;
  position: relative;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0 10%;
}

.text3d-wrap-3 .text3d-3 {
  margin-top: -12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: perspective(300px) rotateX(15deg) scaleY(0.8);
          transform: perspective(300px) rotateX(15deg) scaleY(0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 90px;
  letter-spacing: 3px;
  color: #000;
  text-shadow: 0 0 20px rgba(0, 0, 255, 0.9), 0 10px 0 #ffff00;
}

.text3d-wrap-3:hover .text3d-3 {
  -webkit-transform: perspective(1000px) rotateX(15deg) scale(1.07);
          transform: perspective(1000px) rotateX(15deg) scale(1.07);
  text-shadow: 0 0 10px #ffff00, 0 2px 0 #ffff00;
}

@media (max-width: 767px) {
  .text3d-3 {
    font-size: 60px;
  }
}
